html, body {

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#ReactThree,
.APP,
.Viewer {
  
  @include absolutebox();
}

.APP {

  .Viewer {

    z-index: 0;
    top: 40px;
  }

  .Controls {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-color: #ccc;
    padding: 0 $space * 4;
  }
}