$space: 8px; 

$color-borders: #ccc;
$color-background: rgb(231, 230, 230);
$color-blue: #1890ff;

$color-message-info: #1890ff;
$color-message-warn: rgb(236, 95, 0);
$color-message-fail: rgb(255, 0, 64);

$color-ready-true: rgb(17, 153, 29);
$color-ready-false: rgb(17, 71, 153);